body {
  background-image: url(recipe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: 2px;
  height: auto;
}

body h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}

form {
  background-color: rgb(93, 159, 0);
  height: 450px;
  width: 350px;
  margin-top: 20%;
  padding: 30px;
  display: grid;
}

table {
  display: flex;
  justify-content: center;
}

table.list {
  border-collapse: collapse;

  padding: 11px;
}

table.list th {
  width: 250px;
}

.list td {
  width: 250px;
  text-align: center;
  padding: 11px;
  background: whitesmoke;
}
th {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 5px;
  width: 250px;
}
::placeholder {
  padding-left: 7px;
}

tr.heading {
  text-align: center;
}

div #submit {
  background-color: yellow;
}
