.bg-img {
  background-image: url("img/background.jpg");
  max-height: 500%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
  text-align: center;
}

.main {
  text-align: center;
  margin: 5% 15% 12% 20%;
  padding: 50px 10% 110px 10%;
  background: rgba(21, 25, 29, 0.1);

  font-size: larger;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.tittle {
  color: rgb(70, 64, 64);
}

::placeholder {
  color: black;
}

input[type="text"] {
  border: solid blue 2px;
}

.heading {
  font-size: 400%;
  color: rgb(70, 64, 64);
  font-family: "Times New Roman", Times, serif;
}

.email {
  height: 30px;
  width: 200px;
}
.password {
  height: 30px;
  width: 200px;
}
button {
  font-size: larger;
  background-color: rgba(2, 33, 65, 0.1);
}
footer {
  font-size: larger;
}

@media screen and (max-width: 550px) {
  .heading {
    font-size: 35px;
  }
  body {
    text-align: center;
  }

  .main {
    text-align: center;
    width: 400px;
    background: none;
    margin-left: -10px;
  }
  .email {
    height: 15px;
    width: 60px;
  }
  .password {
    height: 15px;
    width: 60px;
  }
  .tittle {
    font-size: 25px;
  }
  .button {
    font-size: large;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 35px;
  }
  body {
    text-align: center;
  }

  .main {
    text-align: center;
    width: 300px;
    background: none;
    margin-left: -10px;
  }
  .email {
    height: 15px;
    width: 60px;
  }
  .password {
    height: 15px;
    width: 60px;
  }
  .tittle {
    font-size: 25px;
  }
  .button {
    font-size: medium;
  }
}

@media screen and (max-width: 350px) {
  .heading {
    font-size: 30px;
  }
  body {
    text-align: center;
  }

  .main {
    text-align: center;
    width: 350px;
    background: none;
    margin-left: -50px;
  }
  .email {
    height: 15px;
    width: 60px;
  }
  .password {
    height: 15px;
    width: 60px;
  }
  .tittle {
    font-size: 20px;
  }
}
