.bg-img {
  background-image: url("img/background.jpg");
  max-height: 500%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
  text-align: center;
}

.main {
  text-align: center;
  padding-bottom: 300px;
  margin-top: 10%;
  font-size: larger;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.tittle {
  color: rgb(70, 64, 64);
}

::placeholder {
  color: black;
}

input[type="text"] {
  border: solid blue 2px;
}

.heading {
  font-size: 400%;
  color: rgb(70, 64, 64);
  font-family: "Times New Roman", Times, serif;
}

.email {
  height: 35px;
  width: 300px;
}
.password {
  height: 35px;
  width: 300px;
}
button {
  font-size: larger;
  background-color: rgba(2, 33, 65, 0.1);
}
footer {
  font-size: larger;
}
title {
  font-size: larger;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 50px;
  }
  body {
    text-align: center;
  }

  .main {
    /* width: 80px; */
    background: none;
    margin-top: 25%;
    /* margin-left: 150px; */
  }
  .email {
    height: 20px;
    width: 120px;
  }
  .password {
    height: 20px;
    width: 120px;
  }
  .tittle {
    font-size: 28px;
  }
}
